<div class="card mb-3">
    <div class="col-md-12">
        <div class="d-flex justify-content-center p-3">
            <!-- PREGUNTA -->
            <p>{{ label }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <!-- RETORNA OPCIÓN {{puntos}} -->
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="form-check p-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ btn1 }}">
                <label class="form-check-label" for="{{ btn1 }}">
                    No me identifico
                </label>
            </div>
            <div class="form-check p-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ btn2 }}">
                <label class="form-check-label" for="{{ btn2 }}">
                    Me identifico muy poco
                </label>
            </div>
            <div class="form-check p-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ btn3 }}">
                <label class="form-check-label" for="{{ btn3 }}">
                    Me identifico 
                </label>
            </div>
        </div>
    </div>
</div>
