<div class="container">
    <div class="card text-center" style="border: 0ch;">
        <div class="card-header">
            <h1> Tus pruebas</h1>  <h1>siempre</h1> <h1>disponibles</h1>
        </div>
        <div class="card-body p-4" style="width: 600px; height: 100px;">
          <button class="btn btn-primary btn-lg m-2" style="width: 250px; border-radius: 35px;" routerLink ="/login">Ingresar</button>
          <button class="btn btn-info btn-lg m-2" style="width: 250px; border-radius: 35px;" routerLink ="/register">Registrate</button>
        </div>
    </div>
    <div class="video" style="border-radius: 20px; overflow: hidden;
    position: relative;  transform:rotate(0deg);top:-5%;left:3.7147955%;width:39.42959101%;position:relative;opacity:1.0;height:60%;">
        <video src="../../../assets/test.mp4" autoplay="true" preload="metadata" muted="" controls="true" style="object-fit:cover;width:100%;height:100%;">
        </video>
    </div>
</div>  