<!-- <div class="container">

    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href='dashboard-inicio' class="nav-link px-2 link-dark">Inicio</a></li>
        <li><a href='dashboard-consulta' class="nav-link px-2 link-dark">Nueva Consulta</a></li>
        <li><a href="dashboard-expediente" class="nav-link px-2 link-dark">Expedientes</a></li>
        <li><a href="dashboard-resultados" class="nav-link px-2 link-dark">Resultados</a></li>
      </ul>

      <div class="col-md-3 text-end">
      </div>
      
    </nav>
</div> -->
<div class="container">
  <div class="card text-center"
    style=" width: 450px; height:433.979px;  border-bottom-left-radius: 25px; border-top-right-radius: 25px;">
    <div class="card-header">
      <a class="" routerLink="/dashboard-inicio" style="align-items: center;">
        <img src="../../../assets/perfil.jpg" width="220" height="280" class="d-inline-block align-top" alt=""
          style="border-radius: 10px;border-top-right-radius: 20px;">
      </a>
    </div>
    <div class="card-body p-4">
      <h4>Registrar Paciente</h4>
      <h6>Registra un nuevo paciente para crear su expediente</h6>
    </div>
  </div>
  <div class="card text-center"
    style=" width: 450px; height:433.979px; border-bottom-left-radius: 25px; border-top-right-radius: 25px;  margin-left: 25px; margin-right: 25px;">
    <div class="card-header">
      <a class="" routerLink="/dashboard-consulta">
        <img class="card-img-top" src="../../../assets/test.jpg" width="220" height="280" alt=""
          style="border-radius: 10px;border-top-right-radius: 20px;">
      </a>
    </div>
    <div class="card-body p-4">
      <h4>Aplicar Test</h4>
      <h6>Elige el test a aplicar</h6>
    </div>
  </div>
  <div class="card text-center"
    style=" width: 450px; height:433.979px;  border-bottom-left-radius: 25px; border-top-right-radius: 25px;">
    <div class="card-header">
      <a class="" routerLink="/dashboard-expediente" style="align-items: center;">
        <img src="../../../assets/perfil.jpg" width="220" height="280" class="d-inline-block align-top" alt=""
          style="border-radius: 10px;border-top-right-radius: 20px;">
      </a>
    </div>
    <div class="card-body p-4">
      <h4>Expedientes</h4>
      <h6>Revisa los expedientes de tus pacientes</h6>
    </div>
  </div>
  <div class="card text-center"
    style=" width: 450px; height:433.979px;  border-bottom-left-radius: 25px; border-top-right-radius: 25px; margin: 25px;">
    <div class="card-header">
      <a class="" routerLink="/dashboard-resultados">
        <img src="../../../assets/resultados.jpg" width="220" height="280" class="d-inline-block align-top" alt=""
          style="border-radius: 10px;border-top-right-radius: 20px;">
      </a>
    </div>
    <div class="card-body p-4">
      <h4>Resultados</h4>
      <h6>Consulta los resultados de los test aplicados cuando quieras</h6>
    </div>
  </div>
</div>  