<div class="container mt-5">

    <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="volver()">volver</button>
    </div>
    
    <form class="row g-3" (ngSubmit)="enviar(UserDataForm.value)" (ngSubmit)="stateGuardar(stateModal)" #UserDataForm = "ngForm">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="nombre" name="nombre" ngModel>
            <div class="invalid-feedback">Campo requerido</div>
        </div>
        <div class="col-md-6">
            <label for="apellido" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellido" name="apellidos" ngModel>
            <div class="invalid-feedback">Campo requerido</div>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" 
            placeholder="1234 Calle ..  Colonia .." name="direccion" ngModel>
            <div class="invalid-feedback">Campo requerido</div>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Municipio</label>
            <input type="text" class="form-control" id="inputCity" name="municiopio" ngModel>
            <div class="invalid-feedback">Campo requerido</div>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Estado</label>
            <select id="inputState" class="form-select" name="estado" ngModel>
            <option selected>Elige uno ...</option>
            <option>...</option>
            </select>
        </div>
        <div class="invalid-feedback">Campo requerido</div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Código postal</label>
            <input type="text" class="form-control" id="inputZip" name="zip" ngModel>
        </div>
        <div class="invalid-feedback">Campo requerido</div>
        <div class="col-12">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="politicas" ngModel>
            <label class="form-check-label" for="gridCheck">
                <p class="text-muted">
                    Acepto las <a href="#" class="text-reset">póliticas de privacidad</a>.
                    </p>
            </label>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

<!-- <pre>{{ UserDataForm.value | json}}</pre> -->

<ng-template #stateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Actualización.</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        Un nuevo paciente ha sido guardado correctamente.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Aceptar</button>
    </div>
</ng-template>
